@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
}

.fundo-home {
    height: 90vh;
}

.section-home {
    @apply bg-dark-blue-project flex flex-col px-5 space-y-5 lg:flex-row lg:justify-around xl:flex-row xl:justify-around 2xl:flex-row 2xl:justify-around
}

.section-conhecimentos {
    @apply bg-light-blue-project justify-center flex flex-col xl:flex-row xl:flex-wrap p-5 space-y-6 py-20 text-center
}