@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
}

.fundo-home {
    height: 90vh;
}

.section-dark {
    @apply bg-dark-blue-project justify-center flex flex-col xl:flex-row xl:flex-wrap p-5 space-y-6 py-20 text-center
}

.section-light {
    @apply bg-light-blue-project justify-center flex flex-col xl:flex-row xl:flex-wrap p-5 space-y-6 py-20 text-center
}

.section-light-home {
    @apply bg-light-blue-project flex flex-col items-center px-5 py-12 xl:flex xl:justify-center text-center justify-center space-y-6 xl:flex-row xl:px-5 xl:space-x-10
}